<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="StudentsManager.Services.StudentService">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8000"/>
            </baseAddresses>
          </host>
          <endpoint address="/students"
                behaviorConfiguration="restfulBehavior"
                binding="webHttpBinding"
                bindingConfiguration=""
                contract="StudentsManager.ServiceContracts.IStudentService"/>
        </service>
      </services>
      <behaviors>
        <endpointBehaviors>
          <behavior name="restfulBehavior">
            <webHttp />
          </behavior>
        </endpointBehaviors>
        <!--<serviceBehaviors>
          <behavior name="MyServiceTypeBehaviors" >
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>-->
      </behaviors>
    </system.serviceModel>
    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="RollingFileAppender"/>
            <appender-ref ref="ConsoleAppender" />
        </root>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="ProcessInvoker.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline"/>
            </layout>
            <!--<filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
                <levelMax value="WARN" />
            </filter>-->
            <!--<filter type="log4net.Filter.DenyAllFilter" />-->
        </appender>
    </log4net>
</configuration>